<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="bg-[#3f4345]">
    <%- include("partials/nav.ejs" ) %>
    <ul>
    <form
      class="flex flex-col justify-center items-center mx-auto max-w-md p-4"
      method="post"
      action="addPost"
    >
      <input
        type="text"
        class="block w-full mb-4 p-2 border rounded"
        placeholder="Title"
        name="title"
      />
      <input
        type="text"
        class="block w-full p-2 border rounded"
        name="message"
        placeholder="Message"
      />
      <button
        type="submit"
        class="block w-full p-2 bg-blue-500 m-5 text-white rounded"
      >
        Submit
      </button>
    </form>
    <ul class="flex justify-center items-center flex-col my-6">
      <% posts.forEach((post)=>{ %>
        <li class="post flex flex-col bg-yellow-50 w-1/3">
          <div
          class="top flex border-b-2 border-solid border-red-500 justify-around pb-1 p-4"
        >
        <h2 class="inline-block mr-auto"><%= post.title %> <h2>
          <% if(user){ %>
            <h2 class="inline-block"><%= post.user %> <h2>
            <h2 class="inline-block"><%= post.created_at.toLocaleString("es-CL") %> <h2>
              <% } %>
          </div>
            <p class="mt-6 p-8 pt-0"><%=post.message  %></p>
          </li>
          <form action="delete/<%=post.id %>" method="get">
          <button>Delete this post</button>
        </form>
          <%})%>
        </ul>
  </body>
</html>
